/*
** Formatação geral
*/

* {
	padding: 0;
	margin: 0;
}

body {
	background: #ccc;
	font-size: 1em; 
	font-family: 'Montserrat', sans-serif;
}

a {

	text-decoration: none;
}


li {
	list-style-type: none;
}
/*
** Formatação menu
*/

.imagem {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 28.66px;
	padding:15px  15px;
	background: rgba(128, 0, 0,0.4);
}

#menu {
	background: #8c008c;
	position: fixed;
	width: 100vw;
	padding: 10px 10px 0px 10px;
}

#menu ul {
	display: flex;
	justify-content: space-around;
}

#menu-navegacao {
	font-weight:  700;
	font-size: 1.5em;
	padding: 5px 12px 0px 12px; 
}

#menu-navegacao a {
	display: block;
	padding: 10px 20px;
	color:white;

}

#menu-navegacao a:hover {
	color:white;
	background-color: #00cc99;
}

.carrinho {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 5px;
	right: 5px;
}

#numero-carrinho .numero {
	color: #00cc99;
	position: fixed;
	font-size: 20px;
	font-weight: 700;
	bottom: 30px;
	right: 10px;
}

#numero-carrinho .numero:hover {
	font-size: 30px;
}
/*
** Formatação conteudo 
*/


#conteudo {
	width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

#imagem-slider {
	background: #f2f2f2;
	height: 575px;
}

img #imagem-slider {
	margin-left: 0;
	margin-right: 0;
	
}

.emagrecedores {
	background:#990099;
	color: white;
	padding: 20px;
	font-weight: 700;
	text-align: center;
}

#produtos {
	justify-content: center
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#container-produto1 {
	background: #f2f2f2;
	width: 390px;
	height: 680px;
	float: left;
	margin-left: 130px;
	margin-right: 150px;
	margin-top: 10px;
}

#container-produto2 {
	background: #f2f2f2;
	width: 390px;
	height: 680px;
	float: left;
	margin-top: 10px;
}

#container-produto3 {
	background: #f2f2f2;
	width: 390px;
	height: 680px;
	float: left;
	margin-left: 130px;
	margin-right: 150px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#container-produto4 {
	background: #f2f2f2;
	width: 390px;
	height: 680px;
	float: left;
	margin-top: 30px;
	margin-bottom: 20px;	
}

.imagem-produto {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 214px;
	height: 214px;
	padding: 15px;

}


.descricao-produto {
	font-weight: 400; 
	text-align: center;
}
.nome-produto {
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
	color: #8c008c;
	padding: 10px;
}

.preco-produto {
	font-weight: 800;
	color: #8c008c;
	font-size: 1.5em;
}

.super-preco {
	font-weight: 300;
	padding: 10px;
	font-size: 0.9em;
}

.quantidade-produto {
    text-align: center;

}

.caixa {
	width: 52px;
	height: 36px;
	text-align: center;
	font-size: 1.8em;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif; 
	border: 1px solid  rgba(13, 13, 13, 0.2);
	border-radius: 5px;
}

.comprar a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	height: 21px;
	padding: 10px 20px 10px;
	text-align: center;
	color: white;
	background: #00cc99; 
}


.beneficios  {
	margin-top: 10px;
	margin-left: 90px;
	color: #8c008c;
	font-size: 12px;
}



.beneficios li {
	padding: 20px;
	padding-top: 5px;
	padding-left: 30px;
	background: url(../imagens/icon-check.png) no-repeat;
}
