/*
** Formatação geral
*/

* {
	padding: 0;
	margin: 0;
}

body {
	background: #ccc;
	font-size: 1em; 
	font-family: 'Montserrat', sans-serif;
}

a {

	text-decoration: none;
}


li {
	list-style-type: none;
}
/*
** Formatação menu
*/

.imagem {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 28.66px;
	padding:15px  15px;
	background: rgba(128, 0, 0,0.4);
}

#menu {
	background: #8c008c;
	position: fixed;
	width: 100vw;
	padding: 10px 10px 0px 10px;
}

#menu ul {
	display: flex;
	justify-content: space-around;
}

#menu-navegacao {
	font-weight:  700;
	font-size: 1.5em;
	padding: 5px 12px 0px 12px; 
}

#menu-navegacao a {
	display: block;
	padding: 10px 20px;
	color:white;

}

#menu-navegacao a:hover {
	color:white;
	background-color: #00cc99;
}

.carrinho {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 5px;
	right: 5px;
}

#numero-carrinho .numero {
	color: #00cc99;
	position: fixed;
	font-size: 20px;
	font-weight: 700;
	bottom: 30px;
	right: 10px;
}

#numero-carrinho .numero:hover {
	font-size: 30px;
}
/*
** Formatação conteudo 
*/


#conteudo {
	width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

#imagem-slider {
	background: #f2f2f2;
	height: 575px;
}

img#imagem-slider {
	margin-left: 0;
	margin-right: 0;
	
}

.emagrecedores {
	background:#990099;
	color: white;
	padding: 20px;
	font-weight: 700;
	text-align: center;
}

#produtos {
	margin-top: 20px;
}

.container-produto {
	background: #f2f2f2;
	width: 390px;
	height: 780px;
}

.imagem-produto {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 214px;
	height: 214px;
	padding: 15px;

}


.descricao-produto {
	font-weight: 400; 
	text-align: center;
}
.nome-produto {
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
	color: #8c008c;
	padding: 10px;
}

.preco-produto {
	font-weight: 800;
	color: #8c008c;
	font-size: 1.5em;
}

.super-preco {
	font-weight: 300;
	padding: 10px;
}

.quantidade-produto {
    text-align: center;

}

.caixa {
	width: 52px;
	height: 36px;
	border: 1px solid  rgba(13, 13, 13, 0.3);
	border-radius: 5px;
}
